.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 3;
  padding: 20px;
  background-color: #f5f5f5;
  color: #000;
}

.settingsIcon {
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 3;
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.body {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  height: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 18px;
}

.hide {
  display: none;
}

.selectCountryDiv {
  display: flex;
  position: absolute;
  top: 74px;
  left: 0;
}

.row {
  display: flex;
  flex-direction: column;
}
