.call {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.videos {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.videos video {
  width: 100%;
  height: 50%;
  object-fit: cover;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}

.log {
  z-index: 999;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  display: flex;
  background-color: white;
  color: black;
}
